<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="toDevourDiv">

                <h1>Burgers to Devour</h1>

                <ul>
                    {{#each burger}}
                    {{#unless this.devoured}}
                    <li>
                        <p>
                            {{this.id}}. {{this.burger_name}}

                            <button data-planid="{{this.id}}" class="devourBtn btn btn-success">Devour!!!</button>
                        </p>
                    </li>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="alreadyDevouredDiv">

                <h1>Devoured Burgers</h1>
                <ul>
                    {{#each burger}}
                    {{#if this.devoured}}
                    <li>
                        <p>
                            {{this.id}}. {{this.burger_name}}

                            <button data-planid="{{this.id}}" class="delete btn btn-danger">Delete</button>
                        </p>
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="enterBurgerText" for="ca">
            <h1>Enter a Burger You Want to Devour!</h1>
        </label>
        <input type="text" class="form-control" id="addBurger" name="name" placeholder="Type dream burger here.">
    </div>
    <div class="addBugerBtnDiv">
        <button class="addBurgerBtn btn btn-primary" type="submit">Add Burger</button>
    </div>
</div>




<style>
    body {
        background-color: bisque;
    }

    h1 {
        font-family: 'Bowlby One SC', cursive;
    }

    .navbar {
        background-color: black;
        color: white;
        font-size: 60px;
    }

    .titleDiv {
        width: 100%;
        text-align: center;
    }

    .navTitle {
        font-size: 60px;
    }

    .navImage {
        width: 100%;
        text-align: center;
    }

    .enterBurgerText {
        width: 100%;
        text-align: center;
    }

    .addBugerBtnDiv {
        width: 100%;
        text-align: center;
    }
</style>

<script>
    $(document).on("click", ".addBurgerBtn", function (event) {

        event.preventDefault();

        var newBurger = {
            burger_name: $("#addBurger").val().trim(),
            devoured: 0
        };

        // Send the POST request.
        $.ajax("/api/burger", {
            type: "POST",
            data: newBurger
        }).then(
            function () {
                location.reload();
            }
        );
    });

    $(document).on("click", ".devourBtn", function (event) {

        var id = $(this).data("planid");
        var newDevoured = 1;

        var newDevouredValue = {
            devoured: newDevoured
        };

        // Send the PUT request.
        $.ajax("/api/burger/" + id, {
            type: "PUT",
            data: newDevouredValue
        }).then(function (result) {
            location.reload();
        })
    });

    $(document).on("click", ".delete", function (event) {
        var id = $(this).data("planid");

        $.ajax("/api/burger/" + id, {
            type: "DELETE"
        }).then(function (result) {
            location.reload();
        })
    })

</script>

{{!-- $(".devourBurger").on("click", function (event) {

alert("devour button clicked")
// Get the ID from the button.
// This is shorthand for $(this).attr("data-planid")
var id = $(this).data("planid");

// Send the DELETE request.
$.ajax("/" + id, {
type: "DELETE"
}).then(
function () {
console.log("deleted id ", id);
// Reload the page to get the updated list
location.reload();
}
);
}); --}}

{{!-- $(".PLACEHOLDER").on("submit", function (event) { --}}

{{!-- console.log("button clicked")
// Make sure to preventDefault on a submit event.
event.preventDefault();
// Get the ID by finding an element with a "name" attribute equal to the string "id"
var id = $("[name=id]").val().trim();

var updatedPlan = {
burger: $(".devour [name=devoured]").val().trim()
};

// Send the PUT request.
$.ajax("/todos/" + id, {
type: "PUT",
data: updatedPlan
}).then(
function () {
console.log("updated id ", id);
// Reload the page to get the updated list
location.reload();
}
);
}); --}}